

<div class="container justify'content-center">
  
    <div class="row justify-content-center text-center">
      <div class="col-md-6">
              <h2>Applied Studies</h2>
            <form class="form" action="/api/cvEstudy" method="post">

              <div class="input-group mb-3">
                <input type="text" placeholder="Primary studies" name="Studies1" class="form-control"></input>
                </div>
              <div class="input-group mb-3">
                <input type="text" placeholder="Secondary studies" name="Studies2" class="form-control"></input>
              </div>
                <div class="input-group mb-3">
                <input type="text" placeholder="University studies" name="Studies3" class="form-control"></input>
              </div>
              <div class="input-group mb-3">
                <button type="submit" class="form-control btn btn-success">next</button>
              </div>

              </form>
      </div>
  </div>
</div>
</main>


