
<div class="container justify'content-center">
  
    <div class="row justify-content-center text-center">
      <div class="col-md-6">
              <h2>Work Experiences</h2>
            <form class="form" action="/api/cvExperiences" method="post">

                <div class="input-group mb-3">
                <input
                type="text"
                class="form-control"
                placeholder="job-1"
                name="Experiences1"
                  aria-label="Username"
                  />
              <span class="input-group-text"> ✓</span>
              <input
                type="text"
                class="form-control"
                placeholder="Company-1"
                aria-label="Server"
                name="Experiences11"/>
              </div>
                  <div class="input-group mb-3">
                <input
                type="text"
                class="form-control"
                placeholder="job-2"
                  aria-label="Username"
                    name="Experiences2"
                  />
              <span class="input-group-text"> ✓</span>
              <input
                type="text"
                class="form-control"
                placeholder="Company-2"
                aria-label="Server"
                name="Experiences22"
                />
              </div>
                  <div class="input-group mb-3">
                <input
                type="text"
                class="form-control"
                placeholder="job-3"
                  aria-label="Username"
                  name="Experiences3"
                  />
              <span class="input-group-text"> ✓</span>
              <input
                type="text"
                class="form-control"
                placeholder="Company-3"
                aria-label="Server"
                name="Experiences33"
                />
              </div>
                  <div class="input-group mb-3">
                <input
                type="text"
                class="form-control"
                placeholder="job-4"
                  aria-label="Username"
                  name="Experiences4"
                  />
              <span class="input-group-text"> ✓</span>
              <input
                type="text"
                class="form-control"
                placeholder="Company-4"
                aria-label="Server"
                name="Experiences44"/>
              </div>



              <div class="input-group mb-3">
                <button type="submit" class="form-control btn btn-success">next</button>
              </div>
              </form>
              </div>
       
      </div>
  </div>
</div>
</main>

